{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-success rounded shadow-sm">
            <div class="lh-100">
                <h6 class="mb-0 text-white lh-100">Registration request received</h6>
                <small>Please be patient while your request is being confirmed.</small>
            </div>
        </div>
    </div>
{% endblock %}
